.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header {
    position: relative;
    z-index: 1;
}
.headerWorkspace {
    background-color: #24272D;
    color: #ffffff;
}
.logo img{
    width: 100px;
    position: relative;
    top: 5px;
}
.headerList {
    list-style: none;
    display: flex;
    align-items: center;
}
.headerList li {
    margin-left: 60px;
}
.headerList li a {
    color: #1c1c1c;
    transition: 0.1s all;
}
.headerList li a:hover {
    color: #FF973C;
}